a {
    color: black;
    text-decoration: none;
}

.font-verdana {
    font-family: Verdana;
}
.bottom-entry-font {
    font-family: Arial;
    color: gray;
    font-weight: 700;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #eee;
}

.display-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: left;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.padding-16 {
    padding: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.width-100 {
    width: 100%;
}

.box-shadow-5 {
    box-shadow: 0px 0px 5px #555 inset;
}

.box-shadow {
    box-shadow: 0px 0px 10px #555 inset;
}

.flex-gap-6 {
    gap: 6px;
}

.flex-gap-12 {
    gap: 12px;
}

.flex-gap-16 {
    gap: 16px;
}

.flex-gap-24 {
    gap: 24px;
}

.radius-round {
    border-radius: 20px
}

.padding-16 {
    padding: 16px;
}

.padding-child-16 > * {
    padding: 16px;
}

button {
    background-color: lightblue
}

button:disabled {
    background-color: gray
}